button { 
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: #8e35d0;
   width: 150px;
   height: 50px;
   font-size: 0.9rem;
   border-radius: 10px;
   border: none;
   color: white;
   
}

button:hover {
   cursor: pointer;
   transform: scale(1.1);
}