<div class="gl">
   <div class="container-gl">
      <h2>Parabéns!!! Você está concorrendo ao prêmio</h2>
      <p>Seu número da sorte é <strong>{{number}}</strong></p>
      <p>Guarde-o bem. Agora é só torcer</p>
      <p class="p-gl">
         Boa Sorte!
         <span class="icon">
            <img src="../../../assets/images/select-number/goodLuck.png">
         </span>
      </p>
      

      <div class="img-gl">
         <img src="../../../assets/images/select-number/baby.gif">
      </div>
      <div class="button-gl">
         <app-button-confirm text="Página Inicial" [routerLink]="['']" ></app-button-confirm>
      </div>
      
   </div>
</div>

