table {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    background: #386b9b;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    thead {
        border-radius: 10px;
    }
}