
header {
   padding: 2%;
   margin-top: 1%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.img-landing {
   width: 70%;
   margin-left: 15%;
}
.carousel {
   margin-top: 10%;
   margin-bottom: 5%;
   width: 100%;
   height: 400px;
   background: url('../../../assets/images/fundo.png');
   display: flex;
   align-items: center;
   justify-content: center;
}
.carousel-img {
   margin-left: 15%;
   margin-top: 5px;
   width: 70%;
   height: 390px;
}

.arrow-click {
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
}
.arrow-click > img {
   animation: pulse 1s infinite;
   background: transparent;
}

.arrow-click > img:hover {
   cursor: pointer;
   animation: none;
   transform: scale(1.1);
   filter: brightness(200%);
}
.button-next {
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   padding: 2%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

@keyframes pulse {
   0% {
      transform: scale(1);
      filter: brightness(100%);
   }
   100% {
      transform: scale(1.1);
      filter: brightness(200%);
   }
}

@media (min-width: 320px) and (max-width: 1024px){
   .carousel-img {
      width: 100%;
      height: 200px;
      margin-left: 0;
   }
   .carousel {
      width: 100%;
      height: 200px;
      margin-bottom: 20%;
   }
   .img-landing{
      margin-left: 0;
      width: 100%;
   }
}