<header>
   <app-image 
      src='../../../assets/images/header.png'
      width='100px'
      height='50px'
   ></app-image>
</header>


<div class="img-landing">
   <app-image 
      src='../../../assets/images/landing-page/landing.png'
      width='100%'
      height='100%'
   ></app-image>
</div>


<div class="arrow-click">
   <img src='../../../assets/images/landing-page/arrow-down.png' width="100px" height="100px" (click)="scroll()">
</div>



<ngb-carousel class="carousel">
   <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
         <img class="carousel-img" src="../../../assets/images/landing-page/tutorial-step1.png" >
      </div>
   </ng-template>

   <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
         <img class="carousel-img" src="../../../assets/images/landing-page/tutorial-step2.png" >
      </div>
   </ng-template>

   <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
         <img class="carousel-img" src="../../../assets/images/landing-page/tutorial-step3.png" >
      </div>
   </ng-template>

   <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
         <img class="carousel-img" src="../../../assets/images/landing-page/tutorial-step4.png" >
      </div>
   </ng-template>

   <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
         <img class="carousel-img" src="../../../assets/images/landing-page/tutorial-step5.png" >
      </div>
   </ng-template>

</ngb-carousel>

<div class="button-next">
   <app-button-confirm text="Selecionar Número" [routerLink]="['/number']"></app-button-confirm>
</div>
